<div class="container">
  <div class="row">
    <div class="col  dash-card">
      <div class="d-flex flex-row p-3 justify-content-between align-items-center">
      <h1>Categories</h1>
      <%= link_to "Add new category", new_category_path, class:'btn btn-primary' %>
    </div>
    <div class="card">
        <h5 class="card-header"> A category has a title</h5>
        <div class="card-body">
          <h5 class="card-title"> And also a price!</h5>
        </div>
      </div>
    <% current_user.categories.each do |category| %>
      <div class="card">
        <h5 class="card-header"><%= category.title %></h5>
        <div class="card-body">
          <h5 class="card-title">This category costs R$ <%= category.price %></h5>
        </div>
      </div>
    <% end %>
    </div>
    
    <div class="col ml-3 dash-card">
      <div class="d-flex p-3 justify-content-between align-items-center">
      <h1>Videos</h1>
    </div>
      <div class="card">
        <h5 class="card-header"> Soon you'll have a bunch of orders!</h5>
        <div class="card-body">
          <h5 class="card-title"> But if you want to order an video, you can! Click below to search for an artist of choice </h5>
          <%= link_to "Search other artist", root_path, class:"btn btn-primary" %>
        </div>
      </div>
      <% @videos.each do |video| %>    
      <div class="card">
        <h5 class="card-header">This is a video from the category <%= video.category.title %></h5>
        <div class="card-body">
          <h5 class="card-title">The request was made by R$ <%= video.user.name %> and the status of the request is <%= video.status %> </h5>
          <%= link_to "Accept request and send video", edit_video_path(video), class:"btn btn-primary" %>
          <%= link_to "Refuse video", change_status_path(video), class:"btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
    </div>
  </div>
</div>