<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to "Add new category", new_category_path, class:'bttn-white' %>
      <div class="wrapper">
        <% current_user.categories.each do |category| %>
          <div class="item">
            <h3><%= category.title %></h3>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Your total until now</h5>
          <h5 class="card-title">
            <% total_money = 0 %>
            <% current_user.videos.each do |video| %>
              <% if video.status == "completed" %>
              <% total_money += video.category.price.to_f %>
              <%end%>
            <%end%>
            <i class="fas fa-dollar-sign"></i><%= total_money %>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col">
    <div class="wrapper-video">
      <% @videos.each do |video| %>
        <%if video.status == "Pendent"%>
        <div class="item-video">
          <div class="text-card">
            <h3><%= video.category.title %></h3>
          </div>
          <p></p>
          <p><%= video.user.name %></p>
          <% if policy(video).update? %>
            <%= link_to edit_video_path(video), class:"icons-cards" do %>
              <i class="fas fa-heart"></i>
            <%end%>
            <%= link_to change_status_path(video), class:"icons-cards" do %>
              <i class="fas fa-times"></i>
            <%end%>
          <% end %>
        </div>
        <%end%>
      <% end %>
    </div>
  </div>
  </div>
</div>

