<div class="container">
  <div class="row">
    <div class="col dash-card">
      <div class="d-flex flex-row p-3 justify-content-between align-items-center">
      <h1>My purchased videos</h1>
    </div>
      <div class="card my-3">
        <h5 class="card-header">No videos yet?</h5>
        <div class="card-body">
          <h5 class="card-title">You can order videos inside your artists details!</h5>
            <%= link_to "Search for an artist!", root_path, class:"bttn-default" %>
        </div>
      </div>
    <% @videos.each do |video| %>
      <div class="card my-3">
        <h5 class="card-header"><%= "#{video.category.user.name} - #{video.category.title}" %></h5>
        <div class="card-body">
          <div class="card-title status-video"><%= video.status %></div>
          <% if video.review && video.rating %>
            <h5 class="card-title"> Review: <%= "#{video.review} - #{video.rating}" %></h5>
          <% elsif video.status == "completed" %>
            <% if policy(video).set_review? %>
              <%= link_to "Add a review for this video", add_review_path(video), class:"bttn-default" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
